# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/
.Rproj

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md


## Preprocessing
0.CitmonDataOrganization/GIS/
0.CitmonDataOrganization/pictures/
0.CitmonDataOrganization/testCitmonData/
0.CitmonDataOrganization/CitmonDataOrganization_portable/
0.CitmonDataOrganization/James Beckley/
0.CitmonDataOrganization/rsconnect/
1.preprocessData/rsconnect/
1.preprocessData/GIS/
1.preprocessData/AUlookupTable/
1.preprocessData/AUlookupTable_Archive/
1.preprocessData/data/
1.preprocessData/data_old/
1.preprocessData/WQSlookupTable/
1.preprocessData/WQSlookupTable_Archive/
1.preprocessData/appTesting/
1.preprocessData/www/
1.preprocessData/rsconnect/
1.preprocessData/WQSlookupTable/
1.preprocessData/WQSlookupTable_BRRO_SWRO/
1.preprocessData/extraDataProvidedToAssessors/
1.preprocessData/how to see WQSlookuptable.txt

2.organizeMetatdata/WQA_CEDS_templates/
2.organizeMetatdata/data/




*/rsconnect/
*.zip
*.gdb
*.Rproj

# R Environment Variables
.Renviron

